gemini/
.secret/
mugen_wa_bot1.js
memoires/
mugen.mg
sauvegarde/
exemples/
depotoir/
bot.js
mugen1.js
node_modules/
commandes/telecharge.js
outils/message.js
outils/sauvegarde.js
langues/*/commandes/telecharge.json
langues/lingala/